/* Estilos para el componente Home */
.home {
  min-height: 100vh;

}

.home-baner {
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-baner__titluto {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0;
}

.home-tablero {
  border-radius: 0.5rem;
  margin: 1.5rem;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
