.clima {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    /* background: linear-gradient(135deg, #4facfe, #00f2fe); */
    color: #000000;
    padding: 20px;
    text-align: center;
}

.clima__titulo {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.clima__error {
    color: #ff4d4d;
    font-size: 1.2rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.clima__cargando {
    font-size: 1.5rem;
    margin-top: 20px;
    animation: fadeIn 1.5s infinite;
}

.clima__detalles {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
}

.clima__ciudad,
.clima__temperatura,
.clima__descripcion {
    font-size: 1.2rem;
    margin: 10px 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.clima__temperatura {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Animación para el texto de carga */
@keyframes fadeIn {
    0%, 100% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
}